{%extends 'all-atawards/base.html'%}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="../../../static/css/index.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    
 
   
   

  {% endblock %}

{% block content %}


<div class="col-sm-6 form-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class=" text-success" >upload Your Project here</h1>
           
           
            
        </div>
    </div>
        <div class="form-data text-light mx-6" >
            <form action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="intro text-light">Upload my project</h2>
                {% bootstrap_form form%}
                <button class="btn btn-info bg-success" type="submit">Upload</button>
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}